<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Pages({{pageList?.length}})</h3>
        <div class="card-tools">
          <button type="button" routerLink="/page/add" class="bg-gradient-purple btn btn-sm btn-tool mr-2">Add</button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>Page Name</th>
              <th>Title</th>
              <th>Heading</th>
              <th>Description</th>
              <th class="project-actions text-right">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pageList">
              <td>{{item.pageName}}</td>
              <td>{{item.title}}</td>
              <td>{{item.heading}}</td>
              <td>{{item.description | slice:0:80}}</td>
              <td class="project-actions text-right">
                <a class="btn btn-default btn-sm mr-2" routerLink="/page/{{item.pageId}}" href="javascript:void()">
                  <i class="far fa-edit">
                  </i>
                  Edit
                </a>
                <a class="btn btn-danger btn-sm" (click)="deletePage(item.pageId)" href="javascript:void()">
                  <i class="fa fa-trash">
                  </i>
                  Delete
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
