<footer class="main-footer">
  <strong>Copyright &copy; 2020 Pikniknow Powered by <a href="http://kaalpanik.in"><b> Kaalpanik </b></a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.0
      
  </div>
</footer>
