<div class="container-fluid" *ngIf="showComponent">
  <div class="row">
    <div class="col-md-12">
      <div role="form" [formGroup]="userFormGroup">
        <div class="card-body">
          <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input formControlName="userName" type="text" class="form-control" id="exampleInputEmail1" placeholder="User Name">
            <span id="exampleInputEmail1-error" *ngIf="userFormGroup.controls.userName.errors" class="error error-input">{{userFormGroup.controls.userName["errorMessage"]}}</span>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            <input formControlName="emailId" type="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
            <span id="exampleInputEmail1-error" *ngIf="userFormGroup.controls.emailId.errors" class="error error-input">{{userFormGroup.controls.emailId["errorMessage"]}}</span>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mobile Number</label>
            <input formControlName="mobileNumber" type="text" class="form-control" id="exampleInputPassword1" placeholder="Mobile Number">
            <span id="exampleInputEmail1-error" *ngIf="userFormGroup.controls.mobileNumber.errors" class="error error-input">{{userFormGroup.controls.mobileNumber["errorMessage"]}}</span>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Role</label>
            <select formControlName="roleId" class="form-control select2" style="width: 100%;">
              <option selected>Select Role</option>
              <option value="1">Administrator</option>
              <option value="2">Editor</option>
              <option value="3">Subscriber</option>
            </select>
            <span id="exampleInputEmail1-error" *ngIf="userFormGroup.controls.roleId.errors" class="error error-input">{{userFormGroup.controls.roleId["errorMessage"]}}</span>
          </div>
          <button type="button" (click)="addUser()" class="btn btn-primary w-100 mb-1">Submit</button>
          <button type="button" (click)="close()"class="btn btn-dark w-100">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
