<div class="card">
  <div class="card-header">
    <h3 class="card-title">Story ({{totalStory}})</h3>

    <!--<div class="card-tools">
      <button type="button" routerLink="/story/add" class="bg-gradient-primary btn btn-sm btn-tool mr-2">Add</button>
    </div>-->
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <input type="text" (change)="filterValue($event.target.value,'searchFreeText')" class="form-control" id="exampleInputEmail1" placeholder="Search">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <select class="form-control select2" (change)="filterValue($event.target.value,'statusId')" style="width: 100%;">
            <option selected="selected" value="0">All</option>
            <option value="9">Approved</option>
            <option value="10">Rejected</option>
            <option value="11">Pending</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <input type="date" class="form-control" (change)="filterValue($event.target.value,'date')" id="exampleInputEmail1" placeholder="Date Range">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <button type="button" (click)="reset()" class="bg-gradient-maroon btn btn-sm btn-tool mr-2 mr-2 mt-0 pt-2 w-100">Reset</button>
        </div>
      </div>
    </div>
    <hr />
    <table class="table table-striped projects">
      <thead>
        <tr>
          <th style="width: 3%">
            #
          </th>
          <th style="width: 70%">
            Story Details
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of story;let i = index">
          <td>
            {{i+1}}
          </td>
          <td>
            <a href="javascript:void(0)" routerLink="/story/{{item.storyId}}">
              {{item.title}}
            </a>
            <br />
            <small>
              <strong>{{item.userName}} | </strong>  {{item.storyStatus}} | {{item.createdByDate | date: 'dd/MM/yyyy'}}<br />
              {{item.locationName}}| {{item.spotInformation}} <br />
              <strong>Comment:  </strong> {{item.totalComment}} | <strong>Like:  </strong> {{item.totalLike}} | <strong>View:  </strong> {{item.totalView}}
            </small>
          </td>
          <td class="project-actions text-right">
            <a *ngIf="item.statusId == 11" class="btn btn-default btn-sm mr-2" (click)="manageStory(item,9,'Story Approved')" href="javascript:void()">
              <i class="fas fa-eye">
              </i>
              Approve
            </a>
            <a *ngIf="item.statusId == 11" class="btn btn-info btn-sm mr-2" (click)="manageStory(item,10,'Story Rejected')" href="javascript:void()">
              <i class="far fa-edit">
              </i>
              Reject
            </a>
            <a class="btn btn-danger btn-sm" (click)="manageStory(item,3,'Story Deleted')" href="javascript:void()">
              <i class="fa fa-trash">
              </i>
              Delete
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

