<div class="container-fluid" *ngIf="showComponent">
  <!-- SELECT2 EXAMPLE -->
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">Add Page</h3>
      <div class="card-tools">
        <button type="button" (click)="addPage()" class="bg-gradient-primary btn btn-sm btn-tool mr-2">Save</button>
        <button type="button" routerLink="/page" class="btn btn-dark btn btn-sm">Cancel</button>
      </div>
    </div>
    <div class="card-body" [formGroup]="pageFormGroup">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" formControlName="title" class="form-control" id="exampleInputEmail1" placeholder="Title">
            <span id="exampleInputEmail1-error" *ngIf="pageFormGroup.controls.title.errors" class="error error-input">{{pageFormGroup.controls.title["errorMessage"]}}</span>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Page Name</label>
            <select class="form-control select2" formControlName="pageLocationId" style="width: 100%;">
              <option *ngFor="let item of pageLocations" [value]="item.applicationObjectId">{{item.applicationObjectName}}</option>
            </select>
            <span id="exampleInputEmail1-error" *ngIf="pageFormGroup.controls.pageLocationId.errors" class="error error-input">{{pageFormGroup.controls.pageLocationId["errorMessage"]}}</span>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="exampleInputEmail1">Heading</label>
            <input type="text" formControlName="heading" class="form-control" id="exampleInputEmail1" placeholder="Heading">
            <span id="exampleInputEmail1-error" *ngIf="pageFormGroup.controls.heading.errors" class="error error-input">{{pageFormGroup.controls.heading["errorMessage"]}}</span>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            <textarea formControlName="description" class="textarea" placeholder="Description" rows="3"
                      style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
            <span id="exampleInputEmail1-error" *ngIf="pageFormGroup.controls.description.errors" class="error error-input">{{pageFormGroup.controls.description["errorMessage"]}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


