<div class="card">
  <div class="card-header">
    <h3 class="card-title">Users ({{totalUser}})</h3>
    <!--routerLink="/user/add"-->
    <div class="card-tools">
      <button type="button" (click)="addUser()" class="bg-gradient-purple btn btn-sm btn-tool mr-2">Add</button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <input (change)="filterValue($event.target.value,'searchFreeText')" type="text" class="form-control" id="exampleInputEmail1" placeholder="Search">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <select (change)="filterValue($event.target.value,'userRoleId')" class="form-control select2" style="width: 100%;">
            <option value="">All</option>
            <option value="1">Administrator</option>
            <option value="2">Editor</option>
            <option value="3">Subscriber</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <button type="button" (click)="reset()" class="bg-gradient-maroon btn btn-sm btn-tool mr-2 mr-2 mt-0 pt-2 w-100">Reset</button>
        </div>
      </div>
    </div>
    <hr />
    <table class="table table-striped projects">
      <thead>
        <tr>
          <th style="width: 3%">
            #
          </th>
          <th style="width: 70%">
            User Details
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users;let i = index">
          <td>
            {{i+1}}
          </td>
          <td>
            <a href="javascript:void(0)" (click)="editUser(item.userId)">
              {{item.userName}}
            </a>
            <br />
            <small>
              <strong>{{item.roleName}} | </strong>  {{item.emailId}} | {{item.mobileNumber}} | {{item.status}}
            </small>
          </td>
          <td class="project-actions text-right">
            <a class="btn btn-default btn-sm mr-2" (click)="editUser(item.userId)" href="javascript:void()">
              <i class="far fa-edit">
              </i>
              Edit
            </a>
            <!-- <a class="btn btn-info btn-sm mr-2" href="javascript:void()">
              <i class="far fa-edit">
              </i>
              Edit
            </a>-->
            <a class="btn btn-danger btn-sm" (click)="deleteUser(item.userId)" href="javascript:void()">
              <i class="fa fa-trash">
              </i>
              Delete
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

