<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
  
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-user"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <div class="dropdown-divider"></div>
        <a href="javascript:void(0)" (click)="editUser()" class="dropdown-item">
          <i class="fas fa-envelope mr-2"></i> Profile
        </a>
        <div class="dropdown-divider"></div>
        <a href="javascript:void(0)" (click)="changePassword()" class="dropdown-item">
          <i class="fas fa-envelope mr-2"></i> Change Password
        </a>
        <div class="dropdown-divider"></div>
        <a href="javascript:void(0)" (click)="logout()" class="dropdown-item">
          <i class="fas fa-users mr-2"></i> Logout
        </a>
      </div>
    </li>
  </ul>
</nav>
