<div class="content-header" *ngIf="showComponent">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <!--<h1 class="m-0 text-dark">{{routeData.pageName}}</h1>-->
      </div><!-- /.col -->
      <!--<div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard v2</li>
        </ol>
      </div>-->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
