<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <a href="javascript:void(0)" class="brand-link">
    <img src="../../../../assets/dist/img/PikNikFinal.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8;width:43px;max-height:43px !important">
    <span class="brand-text font-weight-light">Pikniknow </span>
  </a>
  <div class="sidebar">
    <div class="user-panel mt-4 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../../../../assets/dist/img/PikNikTransparent.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="javascript:void(0)" class="d-block">Admin</a>
      </div>
    </div>
    <nav class="mt-2" style="font-size:larger">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="javascript:void(0)" routerLink="/dashboard" [class.active]="activeMenu == 'dashboard'" (click)="changeMenu('dashboard')" class="nav-link">
            <i class="nav-icon mr-3">
              <img src="../../../../assets/dist/img/p2.png" alt="Avatar" class="image">
            </i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" routerLink="/user" class="nav-link" [class.active]="activeMenu == 'user'" (click)="changeMenu('user')">
            <i class="nav-icon mr-3">
              <img src="../../../../assets/dist/img/p3.png" alt="Avatar" class="image">
            </i>
            <p>
              User
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" routerLink="/story" class="nav-link" [class.active]="activeMenu == 'story'" (click)="changeMenu('story')">
            <i class="nav-icon mr-3">
              <img src="../../../../assets/dist/img/p1.png" alt="Avatar" class="image">
            </i>
            <p>
              Story
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" routerLink="/page" class="nav-link" [class.active]="activeMenu == 'Page'" (click)="changeMenu('Page')">
            <i class="nav-icon mr-3">
              <img src="../../../../assets/dist/img/p1.png" alt="Avatar" class="image">
            </i>
            <p>
              Page
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="javascript:void(0)" routerLink="/banner" class="nav-link" [class.active]="activeMenu == 'Banner'" (click)="changeMenu('Banner')">
            <i class="nav-icon mr-3">
              <img src="../../../../assets/dist/img/p1.png" alt="Avatar" class="image">
            </i>
            <p>
              Banner
            </p>
          </a>
        </li>

      </ul>
    </nav>
  </div>
</aside>
