<div *ngIf="showComponent">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box">
        <span class="info-box-icon bg-info elevation-1"> <img src="../../../../assets/dist/img/p3.png" alt="Avatar" class="image"></span>
        <div class="info-box-content">
          <span class="info-box-text">Total User</span>
          <span class="info-box-number">
            {{dashboardCount.allUser}}
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-danger elevation-1"> <img src="../../../../assets/dist/img/p3.png" alt="Avatar" class="image"></span>
        <div class="info-box-content">
          <span class="info-box-text">Admin</span>
          <span class="info-box-number">   {{dashboardCount.admin}}</span>
        </div>
      </div>
    </div>
    <div class="clearfix hidden-md-up"></div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1"><img src="../../../../assets/dist/img/p3.png" alt="Avatar" class="image"></span>
        <div class="info-box-content">
          <span class="info-box-text">Editor</span>
          <span class="info-box-number">{{dashboardCount.editor}}</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-warning elevation-1"><img src="../../../../assets/dist/img/p3.png" alt="Avatar" class="image"></span>
        <div class="info-box-content">
          <span class="info-box-text">Visitor</span>
          <span class="info-box-number">{{dashboardCount.users}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-3"  [routerLink]="['/story']" [queryParams]="{typeId: '0'}">
      <div class="info-box">
        <span class="info-box-icon bg-info elevation-1"><img src="../../../../assets/dist/img/p2.png" alt="Avatar" class="image"></span>
        <div class="info-box-content">
          <span class="info-box-text">Total Post</span>
          <span class="info-box-number">
            {{dashboardCount.allStory}}
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3" [routerLink]="['/story']" [queryParams]="{typeId: '11'}">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-danger elevation-1"><img src="../../../../assets/dist/img/p2.png" alt="Avatar" class="image"></span>
        <div class="info-box-content">
          <span class="info-box-text">New Post</span>
          <span class="info-box-number">{{dashboardCount.newPost}}</span>
        </div>
      </div>
    </div>
    <div class="clearfix hidden-md-up"></div>
    <div class="col-12 col-sm-6 col-md-3" [routerLink]="['/story']" [queryParams]="{typeId: '9'}">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1"><img src="../../../../assets/dist/img/p2.png" alt="Avatar" class="image"></span>
        <div class="info-box-content">
          <span class="info-box-text">Approved Post</span>
          <span class="info-box-number">{{dashboardCount.approvedPost}}</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3" [routerLink]="['/story']" [queryParams]="{typeId: '10'}">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-warning elevation-1"><img src="../../../../assets/dist/img/p2.png" alt="Avatar" class="image"></span>
        <div class="info-box-content">
          <span class="info-box-text">Rejected Post</span>
          <span class="info-box-number">{{dashboardCount.rejectedPost}}</span>
        </div>
      </div>
    </div>
  </div>



</div>
