<div class="container-fluid" *ngIf="showComponent">
  <!-- SELECT2 EXAMPLE -->
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">Edit Banner</h3>
      <div class="card-tools">
        <button type="button" (click)="editBanner()" class="bg-gradient-primary btn btn-sm btn-tool mr-2">Save</button>
        <button type="button" routerLink="/banner" class="btn btn-dark btn btn-sm">Cancel</button>
      </div>
    </div>
    <div class="card-body" [formGroup]="bannerFormGroup">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1" placeholder="Name">
            <span id="exampleInputEmail1-error" *ngIf="bannerFormGroup.controls.name.errors" class="error error-input">{{bannerFormGroup.controls.name["errorMessage"]}}</span>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Order</label>
            <input type="text" formControlName="orderId" class="form-control" id="exampleInputEmail1" placeholder="Order">
            <span id="exampleInputEmail1-error" *ngIf="bannerFormGroup.controls.orderId.errors" class="error error-input">{{bannerFormGroup.controls.orderId["errorMessage"]}}</span>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            <textarea formControlName="metaDescription" class="textarea" placeholder="Description" rows="3"
                      style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
            <span id="exampleInputEmail1-error" *ngIf="bannerFormGroup.controls.metaDescription.errors" class="error error-input">{{bannerFormGroup.controls.metaDescription["errorMessage"]}}</span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleInputEmail1">Redirect URL</label>
            <input type="text" formControlName="redirectURL" class="form-control" id="exampleInputEmail1" placeholder="Redirect URL">
            <span id="exampleInputEmail1-error" *ngIf="bannerFormGroup.controls.redirectURL.errors" class="error error-input">{{bannerFormGroup.controls.redirectURL["errorMessage"]}}</span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleInputEmail1">Image File</label>
            <div class="custom-file">

              <input (change)="getFileDetails($event)" formControlName="imageURL" type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span id="exampleInputEmail1-error" *ngIf="bannerFormGroup.controls.imageURL.errors" class="error error-input">{{bannerFormGroup.controls.imageURL["errorMessage"]}}</span>
          </div>
          <img style="max-width:inherit;max-height:100%" *ngIf="bannerFormGroup.value.baseData" src="data:{{bannerFormGroup.value.imageType}};base64,{{bannerFormGroup.value.baseData}}" alt="Red dot" />
          <img style="max-width:inherit;max-height:100%" *ngIf="bannerFormGroup.value.imageURL && !bannerFormGroup.value.baseData" src="https://travel-app-media.s3.ap-south-1.amazonaws.com/{{bannerFormGroup.value.imageURL}}" alt="Red dot" />
        </div>
      </div>

    </div>
  </div>
</div>


